html *
{
   font-family: Arial !important;
}

body {
	font-family:"Arial"; 
	background-image: url(sand2.gif); 
	color: rgb(0,0,0);
}

span.nickname { font-size: 120%; color: red; text-shadow: 1px 1px #000000; }

a:visited { color:#808080; }
a:link    { color:#a52a2a; }
th { font-size:small; text-align:center; font-weight:bold; }

table#playoff    { border:0; padding:10; text-align:center; }
table#playoff td { padding-left:20; padding-right:20; }
table#playoff td.match { color:red; margin:20; }
table#playoff td.team { border-style:dotted; border-width:1; color:blue; }

table#schedule    { border: 1px solid black; padding:0; text-align:center; }
table#schedule th { border: 1px solid black; padding:0; text-align:center; }
table#schedule td { border: 1px solid black; padding:0; text-align:center; }

table#results    { border: 1px solid black; padding:0; text-align:center; }
table#results th { border: 1px solid black; padding:0; text-align:center; }
table#results td { border: 1px solid black; padding:0; text-align:center; }
table#results td#scores { text-align:left; }

table#seeds    { border-style:double; border-collapse:collapse; text-align:center; }
table#seeds td { border-style:double; }
table#seeds th { border-style:double; font-size:large; font-weight:bolder; }

ul {list-style: none; padding-left: 0;}

